@tailwind base;
html {
  scroll-behavior: smooth;
}
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}


body {
  background: linear-gradient(
    180deg,
    #012b30 15.93%,
    #001113 22.51%,
    #012b30 43.98%,
    #001113 68.01%,
    #012b30 100%
  );
}

.timeline {
  mix-blend-mode: luminosity;

}

.active {
  position: relative;
  color: #ffffff;
}

.active::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  bottom: -10px;
  background: #0596B4;
  filter: blur(18px);
  z-index: -1;
}

.snitch-about {
  top: 90%;
  left: 9%;
  transform: translate(-50%, -50%);
}

.snitch-prize {
  top: 90%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.snitch-timeline {
  top: 90%;
  left: 54%;
  transform: translate(-50%, -50%);
}

.snitch-contact {
  top: 90%;
  left: 82%;
  transform: translate(-50%, -50%);
}

